<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- DEMO -->
    <servlet>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>Controllers.DemoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/toto</url-pattern>
    </servlet-mapping>

    <!-- CONNEXION -->
    <servlet>
        <servlet-name>ClientBanque</servlet-name>
        <servlet-class>Controllers.ConnexionController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientBanque</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>

    <!-- DECONNEXION -->
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>Controllers.DeconnexionController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>


    <!-- BANQUE -->
    <servlet>
        <servlet-name>Boutique</servlet-name>
        <servlet-class>Controllers.BoutiqueController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Boutique</servlet-name>
        <url-pattern>/boutique</url-pattern>
    </servlet-mapping>

</web-app>